<!-- use | async pip if main button is observable-->
<div *ngIf="!timeoutMsg">
  <div class="container-fluid container-omd">
  <div class="row">
      <div *ngFor="let mb of mainButtons" class="col-sm-8 col-md-4">
        <div class="thumbnail-omd" routerLink= {{mb.linkTarget}}>
          <img src={{mb.imgUrl}}>
          <div class = "caption-omd">
              <label class="btn-omd">
                {{mb.buttonTxt}}
              </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="timeoutMsg">
    <h2>{{timeoutMsg}}</h2>
  </div>

