.container-omd{
  padding-top: 14vh;
  padding-bottom: 10vh;
  height: 68vh;
}
.btn-omd{
  margin-top: 0vh;
  margin-bottom: 0vh;
  font-size: 5vh;
  color:purple;
}
.thumbnail-omd{
  background-color: transparent;
  img{
    height:30vh;
    width: 30vw;
  }
  border: 0px;
}

.caption-omd{
  background-color: greenyellow;
  height: 6vh;
}


