.container{
  padding-top: 14vh;
  padding-bottom: 10vh;
  height: 68vh;
}
.btn{
  font-size: 3.2vw;
}
.thumbnail{
  background-color: transparent;
  img{
    height:30vh;
  }
  border: 0px;
}

.caption{
  background-color: greenyellow;
  height: 9vh;
  h3{
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-size: 1.8vh;
  }
}


