  h1 {
    font-size: 5.9vw;
  }
  h2 {
    font-size: 4.9vw;
  }
  h3 {
    font-size: 3.9vw;
  }
  h4 {
    font-size: 2.9vw;
  }
  h5 {
    font-size: 2.2vw;
  }
  h6 {
    font-size: 0.9vw;
  }


//
//h1{
//  @media (min-width: $screen-lg){
//    font-size: $font-size-h1;
//  }
//  @media (min-width: $screen-md) and (max-width: $screen-md-max){
//    font-size: $font-size-h2;
//  }
//  @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
//    font-size: $font-size-h3;
//  }
//  @media (min-width: $screen-xs) and (max-width: $screen-xs-max){
//    font-size: $font-size-h4;
//  }
//  @media (max-width: $screen-xs){
//    font-size: $font-size-h5;
//  }
//}
//@media (min-width: $screen-lg){
//  font-size: $font-size-h2;
//}
//@media (min-width: $screen-md) and (max-width: $screen-md-max){
//  font-size: $font-size-h3;
//}
//@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
//  font-size: $font-size-h4;
//}
//@media (min-width: $screen-xs) and (max-width: $screen-xs-max){
//  font-size: $font-size-h5;
//}
//@media (max-width: $screen-xs){
//  font-size: $font-size-h6;
//}
//@media (min-width: $screen-md) and (max-width: $screen-lg){
//  .btn{
//    @extend .btn;
//    font-size: 24px;
//  }
//}
//@media (max-width: $screen-xs-max) {
//  body{
//    font-size: 24px;
//  }
//}
//@media (min-width: $screen-sm) and (max-width: $screen-md) {
//  main{
//    font-size: $font-size-small;
//  }
//}
//@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//  body{
//    font-size: 24px;
//  }
//}
//@media (min-width: $screen-lg-min) {
//  body{
//    font-size: 24px;
//  }
//}
