<div class="container-fluid">
  <div class="row" *ngIf="cmdDisplay && !retDisabled else noDisplayRet">
    <div class="offset-md-2 col-md-2">
      <label class="btn btn-success" (click)="cmdClicked(0)">
        <h5>{{cmdStatus}}</h5>
      </label>
    </div>
    <div class="col-md-6">
      <label class="btn btn-success" (click)="cmdClicked(1)">
        <h5>{{retTxt}}</h5>
      </label>
    </div>
  </div>
</div>

<ng-template #noDisplayRet>
    <div *ngIf="!retDisabled && !cmdDisplay else displayNoRet">
      <div class="offset-md-3 col-md-4">
        <label class="btn btn-success" (click)="cmdClicked(1)">
          <h5>{{retTxt}}</h5>
        </label>
      </div>
    </div>
  </ng-template>
  <ng-template #displayNoRet>
    <div *ngIf="cmdDisplay && retDisabled">
        <div class="offset-md-3 col-md-4">
      <label class="btn btn-success" (click)="cmdClicked(0)">
        <h5>{{cmdStatus}}</h5>
      </label>
      </div>
    </div>
  </ng-template>