.container-omd{
  height: 68vh;
}
.topPayTipMessageLabel{
  margin-top: 5vh;
  background-color: transparent;
  font-size: 5vh;
}
.payTipMessageLabel{
  background-color: transparent;
  font-size: 5vh;
}
.tipMessageArea{
  height: 40vh;
}
