home {
  height:100vh;
  background: purple;//#5b5aa7;
  color: greenyellow;//#fff;
  padding: 0em 0em 0em 0em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  display: block;
}

