<div class="container-fluid container-omd">
  <div *ngIf="timeoutMsg">
    <h2>{{timeoutMsg}}</h2>
  </div>
  <div *ngIf="!timeoutMsg">
    <div *ngIf="needToPay" class = "row">
      <label class="col-md-12 label-warning payTipMessageLabel" >
        {{needToPay}}
      </label>
    </div>
    <div class="row row-omdpay">
      <div *ngFor="let mb of mainButtons" class="col-sm-6 col-md-4">
        <div class="thumbnail" routerLink= {{mb.linkTarget}}>
          <img src={{mb.imgUrl}}>
          <div class = "caption-omd">
            <h3>
              <label class="btn-lg btn-omd">
                {{mb.buttonTxt}}
              </label>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footerrow">
    <footercommand class="col-md-12" [cmdDisplay]="false" [retTxt]="retTxt"></footercommand>
  </div>
</div>


