<div class="container container-omd">
  <div class = "subcontainer">
      <div>会员帐号：<span class="label label-danger">{{accountName}}</span></div>
      <div>历史余额：<span class="label label-info">{{amountBefore | number:'3.0-0'}}</span> </div>
      <div>当前充值：<span class="label label-info">{{amountCharging | number:'3.0-0'}}</span></div>
      <div>当前余额：<span class="label label-info">{{(amountBefore + amountCharging) | number:'3.0-0'}}</span></div>
      <!--  ng-class="{'invisible' : !chargingTipMessage}"  -->
      <div *ngIf="chargingTipMessage" class="label-warning chargingTipMessage">
          <label class="label label-info">{{chargingTipMessage}}</label>
      </div>
  </div>

  <div class="row">
    <footercommand class="col-md-12" [cmdStart]="cmdStart" [cmdStop]="cmdStop" [retDisabled]="retDisabled" [cmdDisplay]="cmdDisplay"
                   (cmdClickedEmitter)="onCmdClicked($event)"></footercommand>
  </div>
</div>

