<div class="container-fluid container-omd">
  <div *ngIf="selfcheckfail">
    <h1><span class="label label-danger">{{selfcheckfail}}</span></h1>
  </div>

  <div *ngIf = "!selfcheckfail">
    <div class="label label-danger">会员帐号： {{accountName}}</div>

    <div class="label label-info">历史余额：{{amountBefore | number:'3.0-0'}}</div> 
    <div class="label label-info">当前支付：{{amountToPay | number:'3.0-0'}}</div>
    <label *ngIf="payingTipMessage" class="label-warning payingTipMessage" >
      {{payingTipMessage}}
    </label>
  </div>

  <div class="row">
    <footercommand class="col-md-12" [cmdStart]="cmdStart" [cmdStop]="cmdStop" [retDisabled]="retDisabled" [cmdDisplay]="cmdDisplay"
                   (cmdClickedEmitter)="onCmdClicked($event)"></footercommand>
  </div>

</div>

