.container-fluid-omd{
  height: 54vh;
  width: 95vw;
}
.slotSelect{
  height: 68vh;
}
.row-omd{
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.footercommand{
  margin-top: 12vw;
  margin-bottom: 2vw;
}
.cart{
  text-align: left;
}
input{
  background-color: transparent;
  color: green;
  font-size: 3vw;
  text-align: center;
  height:1.5em;
  width: 7em;
}
.col-md-2-omd i{
  height:8vh;
}
button{
  //width: 8vw;
  height: 8vw;
  border: 0;
  font-size: 3vw;
  color: green;
  background: transparent;
}
