<ng-template #numberKey>
    <div class="col-md-5">
        <label class="label-danger" *ngIf="finishWithError"><h2>{{finishWithError}}</h2></label>
          <numKB [maxLength]="maxLength" [tipMessage]="tipMessage" (onFinish)="onFinish($event)"></numKB>
      </div>
 </ng-template>

<div class="slotSelect">
  <div class="container-fluid container-fluid-omd">
    <div class="row row-omd">
      <div class="col-md-5">
        <label class="label-danger" *ngIf="finishWithError"><h2>{{finishWithError}}</h2></label>
          <numKB [maxLength]="maxLength" [tipMessage]="tipMessage" (onFinish)="onFinish($event)"></numKB>
      </div>
      <div *ngIf="cart.productOrders.length>0" class="col-md-3 offset-md-2">
        <h1><i class="fa fa-cart-plus fa-2x"></i></h1>
        <div *ngFor="let productOrder of cart.productOrders" class="row cart">
          <h3>
            货道{{productOrder.slotStatus.slot_no}} * 数量 {{ productOrder.itemCnt}}
            <i class="fa fa-times-circle-o fa-2x" (click)="cartRemoveProductClick(productOrder)"></i>
          </h3>
        </div>
      </div>
    </div>  
    <div class="row row-omd">
      <div *ngIf="slotSelectFinishClicked" class="col-md-3">
          <input type="text" value="购买数量: {{itemCount}}" (click)="itemCntClick(1)" />
      </div>
      <div *ngIf="slotSelectFinishClicked" class="col-md-1">
          <i class="fa fa-plus-circle fa-4x" (click)="itemCntClick(1)"></i>
        </div>
      <div *ngIf="slotSelectFinishClicked" class="col-md-1">
        <i class="fa fa-minus-circle fa-4x" (click)="itemCntClick(-1)"></i>
      </div>
    </div>

    <div *ngIf="slotSelectFinishClicked" class="row footercommand">
      <div class="col-md-5">
        <footercommand [cmdStart]="cmdStart" [cmdStop]="cmdStop"
                        (cmdClickedEmitter)="onCmdClicked($event)" [retTxt]="retTxt"
                        [retNavDisabled]="retNavDisabled"></footercommand>
      </div>
    </div>



  </div>
</div>

